.cache {
	display: none;
}

div.previousstage {
    margin-bottom: -6ex;
}
.previousstage a, a.previousstage {
    color: inherit;
    text-transform: none;
    padding: 1px 6px;
    text-align: center;
    border: 2px outset buttonface;
    background-color: buttonface;
    box-sizing: border-box;
}
.previousstage a:hover, a.previousstage:hover {
    text-decoration: none;
}

.widgetselect-panel-left,
.widgetselect-panel-right {
    float: left;
    width: 45%;
    min-height: 60ex;
    border: 2px solid black;
    padding: 3px;
    margin: 2px;
}

#request-details-toggle {
    margin-bottom: 10px;
}

span.collapsed {
    background-image: url(pix/collapsed.png); color: transparent;
    background-repeat: no-repeat;
}

span.expanded {
    background-image: url(pix/expanded.png); color: transparent;
    background-repeat: no-repeat;
}

div#mgerrorrof {
    margin-bottom: 10px;
    margin-top: 10px;
}

span#fullnamelab {
    color: black;
}

div#fitem_id_selm2 {
    padding-left: 80px;
}

.text_summary {
    color: #606060;
    padding-top: 4px;
    padding-bottom: 4px;
}

.indented-block-top {
    display: inline-block;
    vertical-align: top;
}

.fake-fitemtitle {
    display: inline-block;
    width: 20em;
}

.jsenabled .collapsible-actions {
    display: none;
}

.urlHeader {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bloc_pink {
    background-color: #fbd4b4;
    border: 1px solid red;
    padding-top: 10px;
    margin-bottom: 10px;
}

div#myurlmodel {
    padding-bottom: 6px;
}

.transformIntoSubselects div.fitem_fselect {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 20px;	
}

.transformIntoSubselects .fitem_fselect .fselect select {
	margin-left: 10px;	
}

.transformIntoSubselects .fitemtitle label {
	font-weight: bold;
}

#fgroup_id_coursename {
	display: flex;
	flex-flow: row wrap;
}

#fgroup_id_coursename label {
	font-weight: bold;
}

#fitem_id_summary_editor div.col-md-3 {
	max-width: 200px;
	font-weight: bold;
}

#fitem_id_startdate div.col-md-3 {
	max-width: 200px;
	font-weight: bold;
}

#fitem_id_enddate div.col-md-3 {
	max-width: 200px;
	font-weight: bold;
}
#fitem_id_fullname div.col-md-3 {
	max-width: 200px;
	font-weight: bold;
}
#fitem_id_shortname div.col-md-3 {
	max-width: 200px;
	font-weight: bold;
}

/** extrait theme boost **/
.mform span.error {
  display: inline-block;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  background-color: #f2dede;
  padding: 4px;
  margin-bottom: 4px;
  /**color: red;**/
}
